// pos > display > size > font > view > anim > other

.content {
    font-family : Roboto, sans-serif;
    background-color: #06070A;
    color: var(--color-white) ;

    height: 100%;
}

body, html{
    height: 100%;
}

.section {
    position: relative;
    padding: 0 var(--padding-Content) var(--margin-B) ;
    box-sizing: border-box;
    min-height: 100vh;

    @media screen and (min-width: $notebook){
    }

    &__content {
        position : relative;
        height: 100%;
        z-index: 1;
        box-sizing: border-box;

        &__bg {
            position : absolute;
            top      : 0;
            bottom   : 0;
            right    : 0;
            left     : 0;


            & .icon {
                position : absolute;
            }
        }
    }

    &__bg {
        position : absolute;
        top      : 0;
        bottom   : 0;
        right    : 0;
        left     : 0;
        overflow : hidden;
    }
}


@media(max-width : 992px) {
}

@media(max-width : 600px) {
}


@media only screen and (max-width : 1440px) {
}

@media only screen and (max-width : 1280px) {
}

@media only screen and (max-width : 960px) {

}

@media only screen and (max-width : 768px) {

}

@media only screen and (max-width : 480px) {
}











