<!DOCTYPE html>

{% from "component/head/head.njk" import head as head %}

{{ head() }}

<body>

<div class="content">
    <div class="swiper mySwiper">
        <div class="swiper-wrapper">
            <div class="swiper-slide slide" data-slider-index="0">
                <div class="slide__content">
{#                    <button class="btn btn--start js-slide-to" data-slide-to="1">Начало презентации</button>#}
                </div>
            </div>
            <div class="swiper-slide" data-slider-index="1" data-slider-type="timer" data-slide-to="2">
                <div class="slide__content">
                    <img class="img img--full_screen" src="/img/img0.jpg" alt="">
                </div>
            </div>
            <div class="swiper-slide slide" data-slider-index="2">
                <div class="slide__content">
                    <img class="img img--aside" style="position:absolute; top: 0; left: 0;" src="/img/img1-a.jpg" alt="">
                    <div class="slide__img_wrapper" style="position:absolute; top: 10%; left: 0;" >
                        <button class="btn btn--tap js-slide-to"  data-slide-to="3" style="    top: 125px; left: 105px; width: 115px; height: 85px; "></button>
                        <button class="btn btn--tap js-slide-to"  data-slide-to="4" style="top: 200px; left: 205px; width: 115px; height: 85px; "></button>
                        <img class="img" src="/img/img1.jpg" alt="">
                    </div>
                    <img class="img img--aside" src="/img/img1-b.jpg" alt="" style="position:absolute; top: 90%; left: 0;" >
                </div>
            </div>
            <div class="swiper-slide slide" data-slider-index="3">
                <div class="slide__content">
                    <button class="btn btn--back js-slide-to" data-slide-to="2"></button>
                    <img class="img img--full_screen" src="/img/tap1.jpg" alt="">
                </div>
            </div>
            <div class="swiper-slide slide" data-slider-index="4" data-slider-type="timer" data-slide-to="5">
                <div class="slide__content">
                    <img class="img img--full_screen" src="/img/tap2.jpg" alt="">
                </div>
            </div>
            <div class="swiper-slide slide" data-slider-index="5">
                <div class="slide__content">
                    <button class="btn btn--back js-slide-to" data-slide-to="2"></button>
                    <button class="btn btn--tap js-slide-to"  data-slide-to="6" style="top: 205px; height: 75px; "></button>
                    <img class="img img--full_screen" src="/img/tap2-1.jpg" alt="">
                </div>
            </div>
            <div class="swiper-slide slide" data-slider-index="6">
                <div class="slide__content">
                    <button class="btn btn--back js-slide-to" data-slide-to="5"></button>
                    <button class="btn btn--tap js-slide-to" data-slide-to="7" style="top: 140px; height: 50px; "></button>
                    <img class="img img--full_screen" src="/img/tap2-2.jpg" alt="">
                </div>
            </div>

            <div class="swiper-slide slide" data-slider-index="7">
                <div class="slide__content">
                    <button class="btn btn--back js-slide-to" data-slide-to="6" style="height: 110px"></button>
                    <button class="btn btn--tap js-set-img-1"  style="top: 110px; left: 0; width: 50%; height: 75px; "></button>
                    <button class="btn btn--tap js-set-img-2"  style="top: 110px; left: 50%; width: 50%; height: 75px; "></button>

                    <img class="img img--aside" style="position:absolute; top: 0; left: 0; height: 20%" src="/img/tap2-3a.jpg" alt="">
                    <div class="zoom_wrapper">
                        <div class="panzoom">
                            <img class="img js-img-1" src="/img/tap2-3.jpg" alt="">
                            <img class="img js-img-2" src="/img/tap2-4.jpg" alt="" style="display: none">
                        </div>
                    </div>
                    <img class="img img--aside" style="position:absolute; top: 80%; left: 0; height: 20%" src="/img/tap2-3b.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</div>

</body>
<script src="/js/App.js"></script>
